<div class="container-fluid">
    <button class="mobile-menu-toggler" id="mobile_menu_toggler">
        <i class="fas fa-bars"></i>
    </button>

    <a href="{{ path('main_homepage') }}" class="logotype">
        <img src="{{ asset('build/images/icons/logo_366x79.svg') }}" alt="RankedChoice Logotype">
    </a>
    <nav class="main-nav">
        <ul class="menu">
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 'jeans',
                'label': 'Jeans'
            } %}
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 'hats',
                'label': 'Hats'
            } %}
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 'jackets',
                'label': 'Jackets'
            } %}
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 'dresses',
                'label': 'Dresses'
            } %}
            {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                'targetRoute': 'main_category_show',
                'slug': 'sneakers',
                'label': 'Sneakers'
            } %}

            {% if app.user %}
                {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                    'targetRoute': 'main_profile_index',
                    'isBold': 1,
                    'label': 'My profile'
                } %}
            {% else %}
                {% include 'main/_embed/_menu/_menu_item.html.twig' with {
                    'targetRoute': 'main_login',
                    'isBold': 1,
                    'label': 'Login'
                } %}
            {% endif %}
        </ul>
    </nav>

    {{ include('main/_embed/_menu/_menu_cart.html.twig') }}
</div>